<div class="row">
  <div class="col-12">
    <div class="nav-tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentTab === 'cds'" style="cursor:pointer;" (click)="currentTab = 'cds'">CDS Related Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentTab === 'ips'" style="cursor:pointer;" (click)="currentTab = 'ips'">IPS</a>
        </li>
      </ul>
    </div>
  </div>
  <ng-container *ngIf="currentTab === 'cds'">
    <div class="col-md-3 form-text p-2">
      Service:
    </div>
    <div class="col-md-9 p-2">
      <select class="form-select" [class.disabled]="loading" [value]="selectedService" (change)="setService($any($event.target).value)">
        @for (serviceId of services; track $index) {
          <option class="dropdown-item" [attr.value]="serviceId">{{serviceId}}</option>
        }
      </select>
    </div>
    <div class="col-12 p-2">
      @switch (vsStatus) {
        @case ('LOADING') {
          <div class="alert alert-info">Loading the value set...</div>
        }
        @case('CREATING') {
          <div class="alert alert-info">Value set not found in the FHIR repository. Creating the value set...</div>
        }
        @case('FOUND') {
          <div class="alert alert-success">Value set found in the FHIR repository!</div>
        }
        @case('CREATED') {
          <div class="alert alert-success">Value set is created in the FHIR repository!</div>
        }
        @case('ERROR') {
          <div class="alert alert-danger">
            <h3>Error!</h3>
            <p>{{error}}</p>
          </div>
        }
      }
    </div>
    <div class="col-md-12">
      <div class="d-inline-block me-3" style="vertical-align: top">
        <label for="passcode" class="d-inline me-1">Passcode (optional)</label>
        <input type="text" class="form-control d-inline w-auto" [(ngModel)]="passcode" id="passcode" placeholder="">
      </div>
      <button class="btn btn-primary" (click)="createSmartHealthCard()"
              [disabled]="!selectedService || error || loading"><i class="bi bi-qr-code"></i> Create Smart Health Card</button>
    </div>
    <div *ngIf="!!selectedService" class="col-md-12">
      @for (link of links[selectedService]; track link.url) {
        <div class="card mt-2">
          <div class="card-body">
            <img style="vertical-align: top" width="250" [src]="link.qr">
            <div class="d-inline-block">
              <span class="ms-2"><b>Service: </b>{{link.serviceId}}</span><br>
              <span class="ms-2"><b>Expiration: </b>{{link.exp || '-'}}</span><br>
              <span class="ms-2"><b>Requires passcode: </b>{{link.isPasswordProtected}}</span><br>
              <p class="ms-2 mt-2">
                <button class="btn btn-primary" (click)="link.copyToClipboard()">
                  @if (!link.copied) {
                    <i class="bi bi-link"></i> Copy Link
                  } @else {
                    <i class="bi bi-check"></i> Copied
                  }
                </button>
                <button class="btn btn-secondary ms-2" (click)="storeLink(link)">
                  <i class="bi bi-save"></i> Save
                </button>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="col-md-12" *ngIf="storedExists">
      <h5 class="mt-5">Stored Links in the Browser</h5>
      @if (!stored.length) {
        <button class="btn btn-primary" (click)="unlock()"><i class="bi bi-unlock"></i> Unlock</button>
      } @else {
        @for (link of stored; track link.url) {
          <div class="card mt-2">
            <div class="card-body">
              <img style="vertical-align: top" width="250" [src]="link.qr">
              <div class="d-inline-block">
                <span class="ms-2"><b>Service: </b>{{link.serviceId}}</span><br>
                <span class="ms-2"><b>Expiration: </b>{{link.exp || '-'}}</span><br>
                <span class="ms-2"><b>Requires passcode: </b>{{link.isPasswordProtected}}</span><br>
                <p class="ms-2 mt-2">
                  <button class="btn btn-primary" (click)="link.copyToClipboard()">
                    @if (!link.copied) {
                      <i class="bi bi-link"></i> Copy Link
                    } @else {
                      <i class="bi bi-check"></i> Copied
                    }
                  </button>
                  <button class="btn btn-danger ms-2">
                    <i class="bi bi-trash"></i> Delete
                  </button>
                </p>
              </div>
            </div>
          </div>
        }
      }
    </div>
  </ng-container>
  <ng-container *ngIf="currentTab === 'ips'">
    <div class="col-12 p-2 text-end">
      @if (ipsCompositionLoading || composition) {
        <button class="btn btn-primary" [class.disabled]="ipsCompositionLoading" (click)="createIPSCard()">
          @if (ipsCompositionLoading) {
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">&nbsp;Loading...</span>
          } @else {
            <i class="bi bi-qr-code"></i> Create Smart Health Card
          }
        </button>
      }
    </div>
    <div class="col-12 p-2">
      @for (link of links['IPS']; track link.url) {
        <div class="card mt-2">
          <div class="card-body">
            <img style="vertical-align: top" width="250" [src]="link.qr">
            <div class="d-inline-block">
              <span class="ms-2"><b>Service: </b>{{link.serviceId}}</span><br>
              <span class="ms-2"><b>Expiration: </b>{{link.exp || '-'}}</span><br>
              <span class="ms-2"><b>Requires passcode: </b>{{link.isPasswordProtected}}</span><br>
              <p class="ms-2 mt-2">
                <button class="btn btn-primary" (click)="link.copyToClipboard()">
                  @if (!link.copied) {
                    <i class="bi bi-link"></i> Copy Link
                  } @else {
                    <i class="bi bi-check"></i> Copied
                  }
                </button>
                <button class="btn btn-secondary ms-2" (click)="storeLink(link)">
                  <i class="bi bi-save"></i> Save
                </button>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="col-12 col-xl-6 p-2">
      <div class="card">
        <div class="card-header bg-panel-header text-panel-header-text fw-bold">
          Problems
        </div>
        <div class="list-group rounded-top-0">
          @for (condition of ips?.conditions; track condition.id) {
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div>{{condition.code?.coding?.at(0)?.display}}</div>
              <span class="badge text-bg-highlight-light text-highlight-light-text rounded-pill">
                <i class="bi bi-calendar2"></i>
                {{condition.onsetDateTime | date:'short'}}
              </span>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6 p-2">
      <div class="card">
        <div class="card-header bg-panel-header text-panel-header-text fw-bold">
          Medication Summary
        </div>
        <div class="list-group rounded-top-0">
          @for (medication of ips?.medications; track medication.id) {
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div>{{medication.medicationCodeableConcept?.coding?.at(0)?.display}}</div>
              <div class="d-flex gap-1">
                <span class="badge text-bg-highlight-light text-highlight-light-text rounded-pill">
                  <i class="bi bi-calendar2"></i>
                  {{medication.effectiveDateTime | date:'shortDate'}}
                </span>
                  <span class="badge text-bg-highlight-light text-highlight-light-text rounded-pill">
                  <i class="bi bi-calendar2-check"></i>
                    {{getDosageString(medication)}}
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6 p-2">
      <div class="card">
        <div class="card-header bg-panel-header text-panel-header-text fw-bold">
          Allergies and Intolerances
        </div>
        <div class="list-group rounded-top-0">
          @for (allergy of ips?.allergies; track allergy.id) {
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div>{{allergy.code?.coding?.at(0)?.display}}</div>
              <span class="badge text-bg-highlight-light text-highlight-light-text rounded-pill">
                <i class="bi bi-calendar2"></i>
                {{allergy.onsetDateTime | date:'shortDate'}}
              </span>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6 p-2">
      <div class="card">
        <div class="card-header bg-panel-header text-panel-header-text fw-bold">
          Immunizations
        </div>
        <div class="list-group rounded-top-0">
          @for (immunization of ips?.immunizations; track immunization.id) {
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div>{{immunization.vaccineCode?.coding?.at(0)?.display}}</div>
              <span class="badge text-bg-highlight-light text-highlight-light-text rounded-pill">
                <i class="bi bi-calendar2"></i>
                {{immunization.occurrenceDateTime | date:'shortDate'}}
              </span>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="col-12 p-2">
      <div class="card">
        <div class="card-header bg-panel-header text-panel-header-text fw-bold">
          Results
        </div>
        <div class="list-group rounded-top-0">
          @for (observation of ips?.labResults; track observation.id) {
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div>{{observation.code?.coding?.at(0)?.display}}</div>
              <div class="d-flex gap-1">
                <span class="badge text-bg-highlight-light text-highlight-light-text">{{observation.valueQuantity?.value}} {{observation.valueQuantity?.unit || observation.valueQuantity?.code}}</span>
                <span class="badge text-bg-highlight-light text-highlight-light-text rounded-pill">
                  <i class="bi bi-calendar2"></i>
                  {{observation.effectiveDateTime | date:'short'}}
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="col-12 p-2">
      <div class="card">
        <div class="card-header bg-panel-header text-panel-header-text fw-bold">
          Vitals
        </div>
        <div class="list-group rounded-top-0">
          @for (observation of ips?.vitalSigns; track observation.id) {
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div>{{observation.code?.coding?.at(0)?.display}}</div>
              <div class="d-flex gap-1">
                <span class="badge text-bg-highlight-light text-highlight-light-text">{{observation.valueQuantity?.value}} {{observation.valueQuantity?.unit || observation.valueQuantity?.code}}</span>
                <span class="badge text-bg-highlight-light text-highlight-light-text rounded-pill">
                  <i class="bi bi-calendar2"></i>
                  {{observation.effectiveDateTime | date:'short'}}
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </ng-container>
</div>
